body {
  margin: 0;
  padding: 0;
  background: #cdcdcd;
  font-family: Verdana, Tahoma, Arial;
}

.btn {
  cursor: pointer;
}

.message {
  font-weight: bold;
}

.message .normal {
  font-weight: normal;
  font-size: 14px;
}

.top-nav {
  margin: 10px 20px;
}

.top-nav a {
  text-decoration: none;
  margin: 5px;
}

.top-nav .item-holder * {
  margin-left: 15px;
}

.page {
  margin-left: 20px;
  margin-right: 20px;
}

input {
  margin-top: 9px;
  margin-bottom: 5px;
}

ol,
ul {
  line-height: 30px;
}

.register-page-wrapper,
.login-page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.register-page,
.login-page {
  background: #fff;
  width: 40%;
  max-width: 300px;
  min-width: 200px;
  padding: 10px;
  box-shadow: 0 0 3px 5px gray;
  border-radius: 9px;
}

input[type="submit"] {
  background: green;
  color: #fff;
  padding: 5px 10px;
  width: 100px;
  border-radius: 5px;
  border: none;
}

input[type="submit"]:hover {
  background: #0ea60e;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

td,
th {
  padding: 5px 10px;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.waiting-page {
  position: fixed;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 3px 5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.waiting-page div {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}